<table class="ui selectable striped table">
     <thead>
        <tr>
          <th>id</th>
          <th>仓库名称</th>
          <th>仓库描述</th>
          <th>仓库地址</th>
          <th>issue</th>
        </tr>
      </thead>
      <tbody>
        {{#each model as |rd|}}
        <tr>
          <td>{{rd.id}}</td>
          <td>{{rd.name}}</td>
          <td>{{rd.description}}</td>
          <td>
            <a href="{{rd.web_url}}" alt="{{rd.web_url}}" >
              {{rd.web_url}}
            </a>
          </td>
          <td>{{rd.open_issues_count}}</td>
        </tr>
        {{/each}}
      </tbody>
</table>